

.form-area {
	display: flex;
	input {
		height: 50px;
		font-size: 1.4rem;
		padding: 0 20px;
		outline: none;
		box-shadow: none;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.btn {
		background: #6c757d;
		color: #fff;
		padding: 0 20px;
		font-size: 1.8rem;
		outline: none;
		box-shadow: none;

	}
}

.single-task {
	background: #cfcfcf;
	height: 120px;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 30px;
	position: relative;
	span {
		position: absolute;
		top: 10px;
		right: 15px;
		cursor: pointer;
	}
	.task-control {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 40px;
		background: rgba(#000000, .5);
		opacity: 0;
		transition: all .3s ease;
		display: flex;
		.color-pallete {
			display: flex;
			align-items: center;
			padding-left: 20px;
			.color-circle {
				height: 20px;
				width: 20px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
	}
	&:hover {
		.task-control {
			opacity: 1;
		}
	}
}